@*
    Creator: Matthew Baccam
    Created: 04/11/2024
    Summary: Created the about us for the site
    Last Updated By: Matthew Baccam
    Last Updated: 04/11/2024
    What Was Changed: initial creation
*@
@{
    ViewBag.Title = "About";
    ViewBag.Hero = "About Us and Our Goals";
}
<h2 class="mt-4 text-center fw-bold">About Us</h2>
<div class="d-flex justify-content-center">
    <div class="w-50 fw-semibold">
        <p style="text-align: center;">Welcome to Homes for the Homeless! We are dedicated to providing support and assistance to individuals experiencing homelessness in our community. Our shelter is a safe haven where individuals can find temporary refuge, warm meals, and access to essential services.</pstyle="text-align:>
        <p style="text-align: center;">At Homes for the Homeless, we believe that every person deserves dignity, respect, and a place to call home. Our team works tirelessly to create a welcoming environment where individuals can rebuild their lives and work towards a brighter future.</pstyle="text-align:>
    </div>
</div>
<h2 class="mt-3 text-center fw-bold">Our Goals </h2>
<p class="w-100 m-2 text-center fw-semibold">Our primary goal is to provide comprehensive support to individuals experiencing homelessness, addressing their immediate needs while also empowering them to regain stability and independence.</p>

<h3 class="d-flex justify-content-center mt-4 fw-bold">Objectives</h3>
<div class="container">
    <div class="align-content-center">
        <div class="card m-3 border-0" style="background-color: #EEECEC; ">
            <div class="card-body">
                <h5 class="card-title text-center fw-bold">Support</h5>
                <p class="card-text text-center fw-semibold">Offering safe and secure shelter for individuals in need.</p>
            </div>
        </div>
        <div class="card m-3 border-0" style=" background-color: #EEECEC; ">
            <div class="card-body">
                <h5 class="card-title text-center fw-bold">Amenetities</h5>
                <p class="card-text text-center fw-semibold">Providing nutritious meals and access to basic amenities.</p>
            </div>
        </div>
        <div class="card m-3 border-0" style=" background-color: #EEECEC; ">
            <div class="card-body">
                <h5 class="card-title text-center fw-bold">Healthcare</h5>
                <p class="card-text text-center fw-semibold">Connecting individuals with healthcare services and resources.</p>
            </div>
        </div>
    </div>
    <div class="card m-3 border-0" style=" background-color: #EEECEC; ">
        <div class="card-body">
            <h5 class="card-title text-center fw-bold">Job Planning</h5>
            <p class="card-text text-center fw-semibold">Assisting with job training, employment opportunities, and housing placement.</p>
        </div>
    </div>
    <div class="card m-3 border-0" style=" background-color: #EEECEC; ">
        <div class="card-body">
            <h5 class="card-title text-center fw-bold">Individual Help</h5>
            <p class="card-text text-center fw-semibold">Offering case management and support services to address individual needs.</p>
        </div>
    </div>
    <div class="card m-3 border-0" style=" background-color: #EEECEC; ">
        <div class="card-body">
            <h5 class="card-title text-center fw-bold">Networking</h5>
            <p class="card-text text-center fw-semibold">Collaborating with community partners to expand resources and support networks.</p>
        </div>
    </div>
</div>