@*
    Creator: Liam Easton
    Created: ???
    Last Updated By: Liam Easton
    Last Updated: 4/24/2024
    What Was Changed: Changed the UI to fit the same color as
                      the login and register
*@

@{
    ViewBag.Title = "Reset password confirmation";
    ViewBag.PageType = "NoHero";
}
<main aria-labelledby="title" class="register-container bg-dark bg-opacity-50 d-flex justify-content-center">
    <div class="pt-5 box">
        <section class="pt-5">
            <div class="d-flex flex-column align-items-center pt-5">
                <div class="col-md-12 text-center">
                    <h1 class="text-white" id="title">Your password has been changed!</h1>
                    <br />
                    <h3 class="text-white">
                        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </h3>
                    <br />
                </div>
            </div>
        </section>
    </div>
</main>
